<div class="dashboard">

  <nav class="sidebar">
    <div class="sidebar-logo">
      <img src="https://i.pinimg.com/736x/57/38/48/573848ebfeef7475d442c045a5ba9643.jpg" alt="Logo Clinica">
    </div>

    <ul class="sidebar-menu">
      <li><a routerLink="/pazienti"><i class="fa-solid fa-paw"></i> Pazienti Animali</a></li>
      <li><a routerLink="/magazzino"><i class="fa-solid fa-warehouse"></i> Magazzino</a></li>
      <li><a routerLink="/somministrazioni"><i class="fas fa-syringe"></i> Somministrazioni</a></li>
      <li><a routerLink="/appuntamenti"><i class="fas fa-calendar-alt"></i> Appuntamenti</a></li>
      <li><a routerLink="/pagamenti"><i class="fas fa-credit-card"></i> Pagamenti</a></li>
      <li><a routerLink="/profile"><i class="fas fa-user-circle"></i> Profilo</a></li>
    </ul>

    <div class="sidebar-logout">
      <button (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
    </div>
  </nav>

  <div class="main">

    <header class="top-bar">
      <div class="welcome">
        <h2>Benvenuto {{ assistenteUsername }}</h2>
        <p>Assistente Veterinario</p>
      </div>

      <div class="notifications-wrapper" (click)="toggleDropdown($event)">
        <i class="fas fa-bell" style="color: #007b5e;"></i>
        <span *ngIf="unreadNotifications > 0" class="notification-badge">{{ unreadNotifications }}</span>
      </div>

      <div class="notifications-dropdown" *ngIf="dropdownOpen">
        <div class="dropdown-header">
          <h3>Elenco Notifiche</h3>
        </div>

        <ul class="notifications-list">
          <li *ngFor="let notification of notifications" [class.unread]="!notification.letta">
            <div class="notification-content">
              <p>{{ notification.messaggio }}</p>
              <span class="time">{{ getRelativeTime(notification.dataOra) }}</span>
            </div>
            <button *ngIf="!notification.letta" class="mark-read-btn" (click)="markAllAsRead($event)">
            </button>
          </li>
        </ul>

        <div class="notification-buttons">
          <button class="delete-all-btn" (click)="deleteAllNotifications($event)">Elimina tutte</button>
        </div>
      </div>
    </header>


    <section class="cards">
      <div class="card" (click)="navigateTo('pazienti')">
        <i class="fa-solid fa-paw"style="color: #007b5e;"></i>
        <h3>Pazienti Animali</h3>
      </div>
      <div class="card" (click)="navigateTo('magazzino-assistente')">
        <i class="fa-solid fa-warehouse"style="color: #007b5e;"></i>
        <h3>Magazzino</h3>
      </div>
      <div class="card" (click)="navigateTo('somministrazioni')">
        <i class="fas fa-syringe"></i>
        <h3>Somministrazioni</h3>
      </div>
      <div class="card" (click)="navigateTo('appuntamenti')">
        <i class="fas fa-calendar-alt"></i>
        <h3>Appuntamenti</h3>
      </div>
      <div class="card" (click)="navigateTo('pagamenti')">
        <i class="fas fa-credit-card"></i>
        <h3>Pagamenti</h3>
      </div>
    </section>

    <footer class="footer">
      <p>© 2025 VetEnterprise Solutions. Tutti i diritti riservati.</p>
    </footer>

  </div>

</div>
