<body>

<button class="back-button" (click)="goBack()">Indietro</button>


<div class="somministrazioni-container">

  <div class="card p-4 shadow">
    <h4 class="mb-3">Somministrazione Farmaco</h4>

    <div class="form-group mb-3">
      <label for="paziente">Seleziona Paziente:</label>
      <select id="paziente" class="form-control" [(ngModel)]="selectedAnimaleId">
        <option [ngValue]="null">-- Seleziona --</option>
        <option *ngFor="let paziente of pazienti" [ngValue]="paziente.id">{{ paziente.name }}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="farmaco">Seleziona Farmaco:</label>
      <select id="farmaco" class="form-control" [(ngModel)]="selectedMedicineId">
        <option [ngValue]="null">-- Seleziona --</option>
        <option *ngFor="let med of medicine" [ngValue]="med.id">{{ med.name }}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="quantita">Quantità:</label>
      <input type="number" id="quantita" class="form-control" [(ngModel)]="quantita" min="1" />
      <small class="form-text text-muted">{{ getUnitForSelectedMedicine() }}</small>
    </div>

    <button class="btn btn-success w-100" (click)="somministraFarmaco()">Somministra</button>
  </div>
</div>

</body>


<footer class="footer">
  <p>© 2025 VetEnterprise Solutions. Tutti i diritti riservati.</p>
</footer>
