<body>
<button class="back-button" (click)="goBack()">Indietro</button>

<div class="container">

  <div class="table-container">
    <div class="search-container centered-search">
      <input [(ngModel)]="searchKeyword" name="searchKeyword" type="text" class="search-bar"
             placeholder="Cerca per nome, cognome o email...">
      <button class="btn btn-success search-btn" (click)="searchPersonale()">
        <i class="fas fa-search"></i>
      </button>
      <button class="reset-button" (click)="resetFilters()" title="Ricarica">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>

    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Matricola</th>
        <th>Reparto</th>
        <th>Ruolo</th>
        <th>Azioni</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vet of dottori">
        <td>{{ vet.id }}</td>
        <td>{{ vet.firstName }}</td>
        <td>{{ vet.lastName }}</td>
        <td>{{ vet.email }}</td>
        <td>{{ vet.registrationNumber }}</td>
        <td>{{ vet.reparto.name || 'Nessun reparto' }}</td>
        <td>Veterinario</td>
        <td>
          <div class="azioni-container">
            <button class="action-btn" (click)="vet.showReparto = !vet.showReparto" title="Cambia Reparto">
              <i class="fas fa-sync-alt"></i>
            </button>
            <select *ngIf="vet.showReparto" (change)="assegnaDottoreAReparto(vet.id, $event)">
              <option *ngFor="let reparto of reparti" [value]="reparto.id">{{ reparto.name }}</option>
            </select>
            <button class="action-btn" (click)="eliminaUtente(vet.id)" title="Elimina">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>

      <tr *ngFor="let capoReparto of capoReparti">
        <td>{{ capoReparto.id }}</td>
        <td>{{ capoReparto.firstName }}</td>
        <td>{{ capoReparto.lastName }}</td>
        <td>{{ capoReparto.email }}</td>
        <td>{{ capoReparto.registrationNumber }}</td>
        <td>{{ capoReparto.reparto.name }}</td>

        <td>Capo Reparto</td>
        <td>
          <div class="azioni-container">
            <button class="action-btn" (click)="capoReparto.showReparto = !capoReparto.showReparto" title="Cambia Reparto">
              <i class="fas fa-sync-alt"></i>
            </button>
            <button class="action-btn" (click)="toggleTurnoTable(capoReparto.id)" title="Assegna Turno">
              <i class="fas fa-user-clock"></i>
            </button>
            <select *ngIf="capoReparto.showReparto" (change)="assegnaCapoReparto(capoReparto.id, $event)">
              <option *ngFor="let reparto of reparti" [value]="reparto.id">{{ reparto.name }}</option>
            </select>
            <button class="action-btn" (click)="eliminaUtente(capoReparto.id)" title="Elimina">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>

      <tr *ngFor="let assist of assistenti">
        <td>{{ assist.id }}</td>
        <td>{{ assist.firstName }}</td>
        <td>{{ assist.lastName }}</td>
        <td>{{ assist.email }}</td>
        <td>{{ assist.registrationNumber }}</td>
        <td>{{ assist.reparto.name || assist.reparto  }}</td>
        <td>Assistente</td>
        <td>
          <div class="azioni-container">
            <button class="action-btn" (click)="assist.showReparto = !assist.showReparto" title="Cambia Reparto">
              <i class="fas fa-sync-alt"></i>
            </button>
            <select *ngIf="assist.showReparto" (change)="assegnaAssistenteAReparto(assist.id, $event)">
              <option *ngFor="let reparto of reparti" [value]="reparto.id">{{ reparto.name }}</option>
            </select>
            <button class="action-btn" (click)="eliminaUtente(assist.id)" title="Elimina">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="animali-page-size-container">
        <label for="pageSizeSelect">Personale per pagina:</label>
        <select id="pageSizeSelect" [(ngModel)]="pageSize" (change)="onPageSizeChange($event)"
                class="form-select w-auto">
          <option *ngFor="let size of tableSize" [value]="size">{{ size }}</option>
        </select>
      </div>

      <nav>
        <ul class="pagination justify-content-center align-items-center gap-2 mb-0">
          <li class="page-item" [class.disabled]="page === 1">
            <button class="page-link" (click)="goToPreviousPage()">&laquo;</button>
          </li>
          <li class="page-item disabled">
            <span class="page-link text-dark bg-white border rounded">Pagina {{ page }} di {{ totalPages }}</span>
          </li>
          <li class="page-item" [class.disabled]="page === totalPages">
            <button class="page-link" (click)="goToNextPage()">&raquo;</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="aggiungi-buttons-container">
    <div class="card-button" (click)="mostraDottore = !mostraDottore">
      <i class="fas fa-user-md"></i>
      <span>{{ mostraDottore ? 'Nascondi Form Dottore' : 'Aggiungi Nuovo Dottore' }}</span>
    </div>
    <div class="card-button" (click)="mostraCapo = !mostraCapo">
      <i class="fas fa-user-tie"></i>
      <span>{{ mostraCapo ? 'Nascondi Form Capo Reparto' : 'Aggiungi Nuovo CapoReparto' }}</span>
    </div>
    <div class="card-button" (click)="mostraAssistente = !mostraAssistente">
      <i class="fas fa-user-nurse"></i>
      <span>{{ mostraAssistente ? 'Nascondi Form Assistente' : 'Aggiungi Nuovo Assistente' }}</span>
    </div>
  </div>

  <div class="accordion-section" *ngIf="mostraDottore">
    <div class="form-container">
      <div class="form-grid">
        <input type="text" [(ngModel)]="nuovoDottoreNome" placeholder="Nome" />
        <input type="text" [(ngModel)]="nuovoDottoreCognome" placeholder="Cognome" />
        <input type="text" [(ngModel)]="nuovoDottoreUsername" placeholder="Username" />
        <input type="text" [(ngModel)]="nuovoDottoreEmail" placeholder="Email" />
        <input type="text" [(ngModel)]="nuovoDottoreRegistrationNumber" placeholder="RegistrationNumber" />
        <select [(ngModel)]="nuovoDottoreRepartoNome">
          <option value="" disabled selected>Seleziona reparto</option>
          <option *ngFor="let reparto of reparti" [value]="reparto.name">{{ reparto.name }}</option>
        </select>
        <button class="btn-icon-aggiungi" (click)="aggiungiDottore()">Aggiungi Dottore</button>
      </div>
    </div>
  </div>

  <div class="accordion-section" *ngIf="mostraCapo">
    <div class="form-container">
      <div class="form-grid">
        <input type="text" [(ngModel)]="nuovoCapoRepartoNome" placeholder="Nome" />
        <input type="text" [(ngModel)]="nuovoCapoRepartoCognome" placeholder="Cognome" />
        <input type="text" [(ngModel)]="nuovoCapoRepartoUsername" placeholder="Username" />
        <input type="text" [(ngModel)]="nuovoCapoRepartoEmail" placeholder="Email" />
        <input type="text" [(ngModel)]="nuovoCapoRepartoRegistrationNumber" placeholder="RegistrationNumber" />
        <select [(ngModel)]="nuovoCapoRepartoNomeReparto">
          <option value="" disabled selected>Seleziona reparto</option>
          <option *ngFor="let reparto of reparti" [value]="reparto.name">{{ reparto.name }}</option>
        </select>
        <button class="btn-icon-aggiungi" (click)="aggiungiCapoReparto()">Aggiungi Capo Reparto</button>
      </div>
    </div>
  </div>

  <div class="accordion-section" *ngIf="mostraAssistente">
    <div class="form-container">
      <div class="form-grid">
        <input type="text" [(ngModel)]="nuovoAssistenteNome" placeholder="Nome" />
        <input type="text" [(ngModel)]="nuovoAssistenteCognome" placeholder="Cognome" />
        <input type="text" [(ngModel)]="nuovoAssistenteUsername" placeholder="Username" />
        <input type="text" [(ngModel)]="nuovoAssistenteEmail" placeholder="Email" />
        <input type="text" [(ngModel)]="nuovoAssistenteRegistrationNumber" placeholder="RegistrationNumber" />
        <select [(ngModel)]="nuovoAssistenteNomeReparto">
          <option value="" disabled selected>Seleziona reparto</option>
          <option *ngFor="let reparto of reparti" [value]="reparto.name">{{ reparto.name }}</option>
        </select>
        <button class="btn-icon-aggiungi" (click)="aggiungiAssistente()">Aggiungi Assistente</button>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer-bottom">
    <p>© 2025 HospitalCare. Tutti i diritti riservati.</p>
  </div>
</footer>
</body>
